{% extends 'base.html' %}
{% block bodyblock %}
<div id = "container">
    <form action="" method="post" enctype="multipart/form-data" id="feedbackForm">
        {% csrf_token %}
        <label class='leftlabel'>{{form.name.label}}:</label> {{form.name}}<br />
        <input type = 'radio' class = 'datePicker' name = 'timeFrameSelection' value = 'Date' checked> Date
        <input type = 'radio' class = 'datePicker' name = 'timeFrameSelection' value = 'Range'> Range<br />
        <label id='id_timeframe_start_label'>Date:</label> {{form.timeframe_start}}<br />
        <label id='id_timeframe_stop_label' style='display: none; width: 200px; margin-bottom: 5px; margin-right: 5px; vertical-align: top'>Range End:</label>
        <input id="id_timeframe_stop" type="text" name="timeframe_stop" style='display: none; margin-bottom: 5px; margin-right: 5px; vertical-align: top'>
        <span style = 'display: block'>
        <label>{{form.feedback.label}}:</label> {{form.feedback}}
        </span>
        <input type="submit" value="Submit"/>
    </form>
</div>
<script>
$(function(){
    $('#id_timeframe_start').datepicker();
    $('#id_timeframe_stop').datepicker();
});
$('.datePicker').change(function(){
    var radioSelected = $('input[name=timeFrameSelection]:checked', '#feedbackForm').val();
    console.log(radioSelected);
    if(radioSelected == 'Date'){
        $('#id_timeframe_stop').css('display', 'none');
        $('#id_timeframe_stop_label').css('display', 'none')
        $('#id_timeframe_start_label').text('Date')
    }
    else if(radioSelected == 'Range'){
        $('#id_timeframe_stop').css('display', 'inline-block');
        $('#id_timeframe_stop_label').css('display', 'inline-block')
        $('#id_timeframe_start_label').text('Range Start')
    };
});
var radioSelected = $('input[name=timeFrameSelection]:checked', '#feedbackForm').val();
console.log(radioSelected);
</script>
{% endblock %}