<style type = "text/css">

    #container{
        display: block;
        width: 600px;
        margin: auto;
    }
    .feedbackContainer{
        box-shadow: 2px 2px 2px #888888;
        margin-bottom: 25px;
    }
    .feedbackContainer div{
        padding: 10px;
        vertical-align: top;
        border: solid thin black;
    }
    .infoLabel{
        vertical-align: top;
        width: 150px;
        position: relative;
        left: 40px;
    }

    .infospan{
        width: 350px;
    }

    .infospan, .infoLabel{
        display: inline-block;
        padding: 5px;
    }


</style>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div id="container">
    <select name="employees" id="employeeSelect">
        <option value = "none">--</option>
        {% for employee in employees %}
            <option value="{{employee.name}}">{{employee.name}}</option>
        {% endfor %}
    </select>
    <br /><br />
    {% for i in feedback %}
    <div class="feedbackContainer">
            <div class = '{{i.name}}' style = 'display: none'>
                <span class = 'infoLabel' id ="top">Date:</span> <span class='infospan' id="top">{{i.timeframe_start}}{% if i.timeframe_stop %} - {{i.timeframe_stop}}{% endif %} ({{i.timestamp}})</span><br />
                <span class = 'infoLabel' id="bottom">Feedback:</span> <span class='infospan' id="bottom">{{i.feedback|linebreaksbr}}</span><br />
            </div>
    </div>
    {% endfor %}
</div>
<script>
$('#employeeSelect').change(function(){
    var selectedEmployee = $('#employeeSelect').val()
    console.log(selectedEmployee)
    $('#container div').each(function(i){
        if($(this).attr('class')==selectedEmployee){
            $(this).css('display', 'block');
        }else if($(this).attr('class')!='feedbackContainer'){
            $(this).css('display', 'none');
        };
        console.log($(this).attr('class'));
    });
    //$('.'+selectedEmployee).css('display', 'block');
});
</script>
